<!DOCTYPE html>
<html>
  <head>
    <title>Home
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bem-vindo ao seu jardim!</h1>
<p>Você tem <%= jardins.length %> jardim(ns).</p>
  </body>
</html>
