<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  
</head>
<body>

  <main>
    <div class="top-container">
      <h1>My Little Garden</h1>
      <p>Cultive plantas no seu próprio jardim digital</p>
      <div class="button-container">
        <button class="garden-button login" onclick="window.location.href='/login'">
          Meus jardins
        </button>
        <button class="garden-button signup" onclick="window.location.href='/signup'">
          Primeiro cultivo
        </button>
      </div>
    </div>
  </main>

  <footer>
  </footer>

</body>
</html>
