<!DOCTYPE html>
<html>
  <head>
    <title>Cadastro</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="login-page">
    <div class="container-login">
      <h1>My Little Garden</h1>
      <p>crie sua conta</p>
      <form action="/signup" method="POST">
        <input type="text" name="username" placeholder="Usuário" required>
        <input type="password" name="password" placeholder="Senha" required>
        <input type="password" name="confirmPassword" placeholder="Confirme a senha" required>
        <button type="submit"><h1>Cadastrar</h1></button>
      </form>
    </div>
  </body>
</html>
