<!DOCTYPE html>
<html>
  <head>
    <title> BUCETA</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>indigena ou not indigena thats the question</h1>
    <p>Welcome to my bucetya</p>
  </body>
</html>
