<nav>
  <ul>
    <li><a href="/api/home">home</a></li>
    <li><a href="/loja">Loja</a></li>
    <li><a href="/catalogo">Catálogo</a></li>
    <li><a href="/configuracoes">Configurações</a></li>
  </ul>
</nav>