<nav>
  <ul>
    <li><a href="/api/home">home</a></li>
    <li><a href="/api/loja">Loja</a></li>
    <li><a href="/api/catalogo">Catálogo</a></li>
    <li><a href="/api/configuracoes">Configurações</a></li>
  </ul>
</nav>