<!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <title>Random Title</title>

    <link rel="stylesheet" href="https:cdnjs.cloudflare.com/ajax/libs/seman" >

  </head>
 <body class="container">
  <div class="my-header">
      <div class="box"></div>
  </div>
</body>
 <header>

 </header>

 
